


/*Sidebar*/
.sidebar ul {
	margin-left:-40px;
}

.sidebar ul li{
	margin-left:0px;
	width:100%;
	height:40px;
	margin-top:27px;
	margin-bottom: 10px;
	
}

.sidebar ul li a{
	font-size:15pt;
	color:#2a2a2a;
	text-decoration:none;
	padding:10px;
	display:block;
	text-align: left;
}

.sidebar ul li a:hover, .sidebar ul li a:focus{
	color:#2a2a2a;
	background-color:#ccc;
}


#logo{
	width:80px;
	float: left;
	margin: 5px;
	
}

/*barra superior*/

#showprofileoptions{
	height:30px;
	margin-top:5px;
	float:right;
	margin-right: 5px;
	color:#555;
}

#showprofileoptions  div{
	float: left;
	padding: 5px;
}

 #fotoperfil{
 	height: 100%;
}

/*Conteudo*/


.rodape{
	position: fixed;
	bottom: 0px;
	text-align:center;
	font-family: 'Helvetica-neue'; 
	font-weight:bold;
	width:calc(100% - 273px);
	padding:10px;
	background-color:#e7e7e7;
	overflow:hidden;
	height: 40px;
	-webkit-transition: all 300ms;
   	transition: all 300ms;	
}


#sendmsg{
	width: 98%;
	border:none;
	border-radius: 3px;
	line-height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.content{
	width:calc(100% - 250px);
	margin-left:250px;
	padding-top: 50px;
	overflow-x:hidden; 
	margin-bottom: 90px;
}

.conteudo{
	position:relative;
	max-width:800px;
	margin:0 auto;
	padding:10px;
	min-width: 300px;
	clear: both;

}


@media(max-width:650px){


	.rodape{
		position: fixed;
		bottom: 0px;
		text-align:center;
		font-family: 'Helvetica-neue'; 
		font-weight:bold;
		width:calc(100% - 22px);
		padding:10px;
		background-color:#e7e7e7;
		overflow:hidden;
		height: 40px;
		
	}

}


#bottomSidebar{
	width: 250px;
	height: 55px;
	padding-top: 0px;
	position: fixed;
	bottom: 0px;
}

#bottomSidebar ul{
	margin: 0 ;


}

#bottomSidebar ul li{
	list-style: none;
	margin: 3px 3px 3px -37px ;
}

#bottomSidebar ul li a{
	padding: 3px;
	border-radius: 2px;
	width: 40px;
	height: 43px;
	margin: 0;
}

#bottomSidebar ul li a:hover{
	background-color: #ccc;
	margin: 0;
}


#bottomSidebar ul li a img{
	width: 40px;
	
}

#profileoptions {
	position: absolute;
	right: 10px;
	top: 45px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	display: none;
	padding: 5px;

}


#profileoptions ul{
	padding: 0;
	margin: 0;
}


#profileoptions ul li{
	list-style: none;
	float: left;
	margin: 3px;
}

#profileoptions ul li a{
	padding: 5px;
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 2px;
}

#profileoptions ul li a:hover{
	background-color: #555;
}


#profileoptions ul li a img{
	width: 30px;
}

#trash{
	width: 200px;
	height: 200px;
	background-color: red;
}

.boxtxt{
	position: relative;
	width: 100%;
	word-wrap: break-word;
	clear: both;
}

.txtoutros{
	
	left: 0px;
	border:1px solid #333;
	padding: 10px;
	background-color: white;
	margin-top: 5px;
	max-width: 500px;
	border-radius: 10px;
	float: left;
	
}

.txteu{
	
	right: 0px;
	border:1px solid #00b5ad;
	padding: 10px;
	background-color: white;
	margin-top: 5px;
	max-width: 500px;
	border-radius: 10px;
	float:right;
	

}

.notify{
	position: absolute;
	right: 0px;
	background-color: #00b5ad;
	padding: 17px 0px;
	width: 0px;
	overflow: hidden;
	margin-top: -5px;
	transition:all 1s linear;
}


.notify img{
	width: 14px;
}

.pessoa{
	color:#222;
	font-weight: bold;
}