
/*Configurações Gerais*/

@font-face { /*Adição de fonte personalizada*/
font-family: 'Helvetica-neue'; 

src: url('../fonts/helvetica_neue/helvetica-neue-webfont.eot'); 
src: url('../fonts/helvetica_neue/helvetica-neue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica_neue/helvetica-neue-webfont.svg#Helvetica neue') format('svg'), url('../fonts/helvetica_neue/helvetica-neue-webfont.woff') format('woff'), url('../fonts/helvetica_neue/helvetica-neue-webfont.ttf') format('truetype'); 

font-weight: normal; font-style: normal;}

body{/*Configuração da janela*/
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	font-family:sans-serif;
	background-color:#fefefe;
	-webkit-transition: margin 300ms;
    transition: margin 300ms;
    
}

/*Configuração da Sidebar*/



.sidebar{
	overflow-y:auto;
	z-index:1000;
	font-size:30pt;
	text-align:center;
	font-family:Helvetica-neue;
	position:fixed;
	height:100%;
	width:250px;
	background-color:#e7e7e7;
	-webkit-transition: margin 300ms;
    transition: margin 300ms;
	
}



/* Configurações da Barra Superior*/

#title{
	padding:10px 0 10px 0;
	width: 90px;
	margin: 0 auto;
	display: inline-block;
}

#abremenu{
	
	position:fixed;
	margin-left:250px;
	z-index:20000;
	width:calc(100% - 250px);
	height:40px; 
	background-color:#e7e7e7;
	text-align:center;
	font-family: 'Helvetica-neue'; 
	font-weight:bold;
	min-width: 300px;
	-webkit-transition: width 300ms;
    transition: width 300ms;
}




#menu{
	float:left;
	background-color:#e7e7e7;
	padding: 3px;
}

#menu img{
	height:30px;
}



/*Configurações de Mensagens*/

.msgs{
	position: fixed;
	max-width: 400px;
	width: 90%;
	right: 0px;
	top:40px;
	padding: 20px;
	z-index: 3;
	color:white;
}


#mainmsg{
	background-color: green;
}

#failmsg{
	background-color: red;

}

/* Configurações da Barra Inferior*/
